* text=auto

*.c text eol=lf
*.h text eol=lf
*.s text eol=lf
*.ld text eol=lf
*.py text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.xml text eol=lf
*.ioc text eol=lf
*.project text eol=lf
*.cproject text eol=lf
*.mxproject text eol=lf
*.prefs text eol=lf
*.sh text eol=lf
*.bat text eol=crlf

*.png binary

